.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  background-color: #8a4b6d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.hero-section {
  padding: 20px;
  margin-left: 320px;
}

.hero-image {
  width: 1500px;
  height: 500px;
  
 
}

.filter-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.filter-section button{
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; 
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: 700;
  width: 40%;


}
.filter-section button :hover{
  background-color: #04AA6D; /* Green */
  color: white;
}

.metrics-section {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 20px;
}

.metric-box {
  border: 1px solid #ccc;
  padding: 40px;
  margin: 100px;
  width: 500px;
}

.disease-threats {
  padding: 20px;
}

.call-to-action {
  padding: 80px;
  background-color: #c98b9d;
}

.call-to-action button {
  font-size: 1.2em;
  padding: 40px 20px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-left: 210px;
}

.content-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 120px;
}

.content-image img {
  width: 500px;
}

.content-text {
  max-width: 500px;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.additional-charts {
  display: flex;
  gap: 20px;
  padding: 30px;
  justify-content: space-around;
}

.chart {
  border: 1px solid #ccc;
  padding: 10px;
  width: 500px;
}

.pie-chart, .bar-chart {
  background-color: #f0f0f0;
  height: 150px;
  width: 100%;
}
